<main id='editProfile'>
  <header>
    <img src="{{user.avatar}}" alt="user-avatar">
  </header>

  <section>
    <h1>Edit your profile</h1>

    {{#if msg}}
    <div>{{msg}}</div>
    {{/if}}

    <form action="/profile/update" method="POST" enctype="multipart/form-data">
      <label for="avatar"></label>
      <input name="avatar" type="file" accept="image/png,image/jpg,image/jpeg">

      <label for="username">Username:</label>
      <input name="username" type="text" placeholder="Edit username" value="{{ user.username }}" />

      <label for="quote">Some words about you:</label>
      <input name="quote" type="text" placeholder="Edit quote" value="{{ user.quote }}" />

      <button type="submit">Update Profile</button>
    </form>
  </section>
</main>