<section class="section-error">
  <h2 class="ops-error">Error! </h2>

  <div class="error-container">
    <img class="image500" src="/images/500.png" alt="404" />
  </div>

  <h2>{{msg}}</h2>

  <h6 class="text-error">Uh oh, there seems to be a problem. Let me help you find <a href="/">a way out</a>
  </h6>
</section>