<section class="section-error">
  <h2 class="ops-error">OPS! Page Not Found! </h2>

  <div class="error-container">
    <img class="image404" src="/images/404.png" alt="404" />
  </div>

  <h6 class="text-error">...looks like you found someone else instead!</h6>

  <div class="back-home-btn">
    <a href="/" class="btn btn-outline-dark btn-sm">Home</a>
  </div>
</section>