body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1f1f1f;
  color: #ffffff;
}

a {
  color: #9fd8ee;
}

h1 {
  color: 15px;
}

/***** HEADER *****/

.logo-header{
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-left: 80px;
  margin-right: 20px;
}

.nav-profile-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav-phrase{
  padding-top: 22px;
  padding-left: 10px;
}

.navbar-nav{
  right: 60px;
  position: absolute;
}


/***** BREADCRUMPS *****/
.breadcrumb {
  background-color: #1f1f1f;
}

.breadcrumb a {
  color: #ffc107
}


/***** USERS *****/

/* signup */

#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.bg-img-signup{
  width: 600px;
  height: 800px;
}

.text-signup{
  text-align: center;
  justify-content: center;
  width: 400px;
  margin-top: 25px;
}

/* signin */

#signin-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-form {
  width: 350px;
}

.signin-bottom {
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
}

/***** PROFILES ******/

/* profile page */

.user-info{
  font-size: 16px;
  margin-top: 50px;
}

.group-info {
  margin-top: 50px;
}

.user-avatar{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.friends-image{
  width: 60px;
  height: 60px;
  margin: 0 auto 5px;
  object-fit: cover;
  border-radius: 50%;
}


.my-groups-image{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 5px;
}

.my-groups {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
}

/* edit profile */

.edit-profile-btn {
  margin-top: 20px;
}

.empty-page {
  padding: 25px 50px;
  background-color: #1a1919;
}

/***** MOVIES ******/

/* show movies */

.group-image{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.movies-list {
  margin-top: 20px;
  display:flex;
  flex-flow:row wrap;
  text-align: center;
  padding-right: 10px;
}

.show-movies {
  margin-top: 60px;
}

.new-movies-link {
  margin-left: 10px;
}

/* new movie page */

#newMovie {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.new-movie-title{
  max-width: ;
  text-align: center;
  margin-top: 30px;
  padding-right: 10px;
}

.text-form{
  text-align: left;
  margin-bottom: 5px;
}

.edit-movies-avatar{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

/* index movies */

.movie-card {
  height: 330px;
  width: 230px;
  background-color: #1a1919;
}

.movie-card img {
  width: 200px;
  height: 260px;
  object-fit: cover;
  margin: auto;
}

.movie-card p {
  color: #ffc107;
}

/* MOVIE - video page */

#movies-show{
  max-width: 1000px;
  margin: 0 auto;
}

.movie-container{
  display: flex;
  justify-content: space-between;
}

.movie-show-title {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 5%;
}

.edit-btn-movie {
  margin-right: 20px;
  margin-top: 42px;
  font-size: 16px;
  display: inline;
  float: right;
}

.trailer video {
  width: 600px;
}

@media (min-width: 992px) { 
  .trailer video {
    width: 800px;
  }
 }

@media (min-width: 1200px) { 
  .trailer video {
    width: 1000px;
  }
 }


.movie-plot {
  width:auto;
  text-align: justify;
  justify-content: center;
  padding-top: 20px;
  padding-left: 20%;
  padding-right: 20%;
}

/**** GROUP ****/

/* new group */

#newGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.text-form{
  text-align: left;
  margin-bottom: 5px;
}

.header-new-group{
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

/* group page show */

.movie-image{
  max-width: 200px;
  max-height: 280px;
  object-fit: cover;
  display: flex;
  flex-flow:row wrap;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 70px;
}

.movie-title{
  max-width: 200px;
  text-align: left;
  text-justify: auto;
}

/* edit group */

#editGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.edit-group-title{
  text-align: center;
  margin-top: 30px;
  padding-right: 10px;
}

.edit-group-avatar{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}


/**** ERROR HANDLING ****/

/* 404 and 500 PAGE */

.section-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.ops-error{
  margin-top: 30px;
  font-weight: 350;
}

.error-container{
  margin-top: 40px;
}

.text-error{
  margin-top: 20px;
  font-weight: 100;
}

.back-home-btn{
  margin-top: 40px;
}



/* 500 page */