body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1f1f1f;
  color: #ffffff;
}

a {
  color: #9fd8ee;
}

h1 {
  color: 15px;
}

/***** HEADER *****/

.logo-header{
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-left: 80px;
  margin-right: 20px;
}

.nav-profile-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav-phrase{
  padding-top: 22px;
  padding-left: 10px;
}

.navbar-nav{
  padding-left: 830px;
}



/***** SIGN IN *****/

#signin-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-bottom {
  margin-top: 15px;
  font-size: 16px;
  align-content: center;
}

/***** SIGN UP *****/

#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.bg-img-signup{
  width: 600px;
  height: 800px;

}

/***** PROFILE ******/

.user-info{
  font-size: 16px;
  margin-top: 50px;
}

.group-info {
  margin-top: 50px;
}

.user-avatar{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.my-groups-image{
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 50px;
  margin-bottom: 25px;
}

.my-groups {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
}

/***** EDIT PROFILE ******/

.edit-profile-btn {
  margin-top: 20px;
}


/***** MOVIES PAGE ******/

.movies-avatar{
  margin-top: 50px;
  margin-left: 150px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.group-title{
  margin-left: 120px;
 }

.movies-list {
  margin-top: 20px;
  display:flex;
  flex-flow:row wrap;
  text-align: center;
  padding-right: 10px;
}

.show-movies {
  margin-top: 60px;
}

.new-movies-link {
  margin-left: 10px;
}

.movie-image{
  width: 110px;
  height: 130px;
  object-fit: cover;
  display: flex;
  flex-flow:row wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 70px;
}

.movie-title{
  text-align: left;
  text-justify: auto;
}



/**** NEW MOVIE PAGE ****/

#newMovie {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.new-movie-title{
  text-align: center;
  margin-top: 30px;
  padding-right: 10px;
}

.text-form{
  text-align: left;
  margin-bottom: 5px;
}