<main id='group'>
  <section>
    <img src="{{group.image}}" alt="group-image">
    <h1> {{group.groupName}}</h1>
  </section>

  <section>
    <!-- 
    {{#each group.movies}}
    <a href="/movies/{{this.title}}">{{this.image}}</a>
    {{/each}} 
    -->
  </section>
</main>