<main id='signup'>
  <header>
    <img src="/images/logoDummy.png" alt="logo">
    <h1>Vider</h1>
  </header>

  <section>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
    </p>
  </section>

  <section>
    <h2>Start using vider</h2>
    <p>create an account or <a href="/">sing in</a></p>


    {{#if msg}}
    <div>{{msg}}</div>
    {{/if}}

    <form action="/signup" method="POST">
      <label for="username" >Username</label>
      <input name="username" type="text" placeholder="Enter a username">

      <label for="password">Password</label>
      <input name="password" type="password" placeholder="Enter your Password">

      <label for="passwordConfirmation">Password Confirmation</label>
      <input name="passwordConfirmation" type="password" placeholder="Confirm your Password">

      <button type="submit">create account</button>
    </form>
  </section>
</main>