<main id='signin'>
  <header class="signin">
    <img src="/images/logoVider.png" alt="logo">
  </header>

  <section class="signin">

    <h2>Sign In </h2>
    {{#if msg}}
    <div>{{msg}}</div>
    {{/if}}

    <form action="/signin" method="POST">
      <label for="username">Username:</label> <br>
      <input name="username" class="form-control form-control-lg" type="text" placeholder="Enter a username"
        value="{{username}}">
      <br>
      <label for="password">Password:</label><br>
      <input name="password" class="form-control form-control-lg" type="password" placeholder="Enter a password"
        value="{{password}}">
      <br>
      <button type="submit" class="btn btn-warning form-control">Sign In</button>
    </form>

    <p class="signin-bottom"> New to Vider? <br>
      <button type="submit" class="btn btn-warning">Sign up now</button>
    </p>
  </section>
</main>